

hr{
    margin-left: 100px;
    margin-right: 100px;
}

footer{
    height: auto;
    background-color: #EFEFAF;
    width: 100vw;
    color: #311111;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footercontent h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
}

.footerbottom{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.footercontent a{
    margin: 10px;
    width: 40px;
}